.header {
    padding: 20px 80px;
    border: solid 2px;
}

.header .header-bar {
    display: flex;
    justify-content: space-between;
}

.header .header-bar .menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header  .header-bar .search-bar  {
    display: flex;
    gap: 15px;
}

.header .search-bar #search-text {
    border: 2px solid;
    padding: 5px 10px;
    width: 250px;
    border-radius: 15px;
}

.header .search-bar #search-button {
    cursor: pointer;
    border: none;
    background-color: white;
}

.header .menu .nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .nav .nav-item {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 15px;
}

.header .svg {
    height: 30px;
}