/* (❁´◡`❁) */

.section {
    position: relative;
    width: 100%;
}

.img-box .img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 24px;
}

.section .info-content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 40px;
    box-sizing: border-box;
    z-index: 10;
    margin: 0 auto;
    display: grid;
    color: white;
    font-weight: bold;
}

.info-content .info-about {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
}

.info-about .svg {
    width: 20px;
    height: 20px;
}

.info-item#info-synopsis .info-paragraph {
    margin-top: 16px;
    max-width: 600px;
}

.info-item#info-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 28px;
    height: auto;
}

.info-item#info-buttons .button {
    border-radius: 28px;
}

.info-item #watch-box {
    display: flex;
    align-items: center;
}

.button-box .button {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    gap: 10px;
}

#play-button {
    height: 16px;
}